<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        body {
            margin: 0;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .header {
            width: 100vw;
            height: 5rem;
            padding: 0 0 0 2rem;
            display: flex;
            align-items: center;
            background-color: whitesmoke;
        }
        .headerTitle{
            font-size: 24px;
            margin-right: 2rem;
        }
        .headerHome{
            margin-right: 1rem;
        }
        .headerWrite{
            margin-right: 1rem;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="headerTitle">
            <a href="/">Todo App</a>
        </div>
        <div class="headerHome">
            <a href="/">Home</a>
        </div>
        <div class="headerWrite">
            <a href="/write">Write</a>
        </div>
        <div>
            <a href="/list">List</a>
        </div>
    </div>

    <h2>GET Api 요청보내서 mongodb data 가져오기</h2>

    <% for (let i = 0; i < getDB.length; i++) { %>
        <h4>Todo : <%= getDB[i].todo %></h4>
        <p>due Date : <%= getDB[i].due %></p>
        <hr/>
    <% } %>
    
    
</body>
</html>